h1 Choose Your Check-In
h2 Find your favorite practice.

#check-ins
  .check-in(ng-click='selectCheckIn("scale")')
    i.fa.fa-heart

  .check-in(ng-click='selectCheckIn("color")')
    i.fa.fa-adjust

  .check-in(ng-click='selectCheckIn("word")')
    i.fa.fa-comment-o
