#reminders
  h1 Reminders
  h2 How many times a day would you like to practice?

  #frequencies
    span.frequency(ng-click='setReminderFrequency(1)') 1x
    span.frequency(ng-click='setReminderFrequency(2)') 2x
    span.frequency(ng-click='setReminderFrequency(3)') 3x

  p We recommend at least 2, but the more the better!
